  <header>
    <div {% if page.url == "/" %} class="relative bg-white" {% else %} class="relative bg-white border-b" {% endif %} >
      <div class="mx-auto flex max-w-7xl items-center justify-between {% if page.url == "/" %} p-4 {% else %} p-2 {% endif %} md:justify-start md:space-x-10 lg:px-8">
        <div class="flex justify-start lg:w-0 lg:flex-1">
          <a href="{{ site.baseurl }}/">
            <span class="sr-only">Pareto Business School</span>            
            {% if page.url == "/" %} 
            <img class="h-16 sm:h-20" src="/assets/img/pareto_logo_p_ny.png" alt="">
            {% else %} 
            <img class="h-16 sm:h-16" src="/assets/img/pareto_logo_p_ny.png" alt="">
            {% endif %}             
          </a>
        </div>
        
        <!--
        <nav class="space-x-10 md:flex">
          <a href="{{ site.baseurl }}/resources/" class="text-base font-medium text-gray-500 hover:text-gray-900">Resources</a>
          <a href="#certificate" class="text-base font-medium text-gray-500 hover:text-gray-900">Tools</a>
        </nav>
        -->
        
        <div class="items-center justify-end md:flex md:flex-1 lg:w-0">
          <!--<a href="{{ site.baseurl }}/resources/" class="whitespace-nowrap text-base text-sm font-medium text-gray-500 hover:text-gray-900">Resources</a>-->
          <!--<a href="https://www.linkedin.com/events/paretomba-q-a7133131220242079744/" class="ml-8 inline-flex items-center justify-center whitespace-nowrap rounded-md border border-gray-200 px-4 py-2 text-base text-sm font-medium text-gray-800 shadow-sm hover:bg-gray-100">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2 text-rose-500">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
            </svg>
          Attend info session &nbsp; <span class="text-rose-500"> &gt;</span></a>-->
          {% if page.url != "/" and page.url != "/apply.html"  %}
          <a href="{% link apply.md %}" class="ml-4 inline-flex items-center justify-center whitespace-nowrap rounded-md border border-gray-200 px-4 py-2 text-sm font-medium shadow-sm hover:bg-rose-300 border-transparent bg-rose-500 text-white">Apply now</a>          
          {% endif %}

        </div>
        
      </div>

      <!--
        Mobile menu, show/hide based on mobile menu state.

        Entering: "duration-200 ease-out"
          From: "opacity-0 scale-95"
          To: "opacity-100 scale-100"
        Leaving: "duration-100 ease-in"
          From: "opacity-100 scale-100"
          To: "opacity-0 scale-95"
      -->
    </div>
  </header>