---
---

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Lora";
  src: url("/assets/fonts/lora.ttf");
}

p,li {
	font-family: "Lora";
	src: url("/assets/fonts/lora.ttf");
}

.resource-content > h2, .resource-content > h3, .resource-content > h4 {
	/*font-size: 20px;*/
	color: rgb(15 23 42);
	font-weight: 600;
	margin-top: 15px;
}

.resource-content > h2 {
	font-size: 22px;
}

.resource-content > h3 {
	font-size: 20px;
}

.resource-content > h4 {
	font-size: 18px;
}

.resource-content > p {
	padding-bottom: 12px;
}


.resource-content > ul > li {
	font-family: "Lora";
	src: url("/assets/fonts/lora.ttf");
	list-style-type: circle;
}

.resource-content > ol {
	padding-top: 12px;
}


.resource-content > ol > li {
	font-family: "Lora";
	src: url("/assets/fonts/lora.ttf");
	list-style-type: number;
	margin-left: 24px;
	padding-left: 10px;
}

.exhibit-highlight {
	font-family: "Lora";
	src: url("/assets/fonts/lora.ttf");
	color: rgb(15 23 42);
	font-weight: 600;
	font-size: 22px;
}

.exhibit-highlight-list {
	list-style-type: circle;
	margin-left: 12px;
	color: rgb(15 23 42);
	font-size: 16px;	
}


.text-red-line {
	border-left: 3px solid rgb(239 68 68);padding-left:5px;
}

.text-rose-line {
	border-left: 3px solid rgb(244 63 94);padding-left:5px;
}

.exhibit-table{
	font-family: "Lora";
	src: url("/assets/fonts/lora.ttf");
	font-size: 13px;
}

.exhibit-table > thead > tr > th {
	font-family: "Inter";
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	/*background-color: #FAF5FF;*/
	background-color: #F43F5E;
	border: 3px solid white;
	padding: 0.5rem;
}

.exhibit-table > tbody > tr > td {
	vertical-align:top;
	background-color: #FFF1F2;
	border: 3px solid white;
	padding: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
}



