<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    <script async data-uid="5e0216ab00" src="https://pareto-business-school.ck.page/5e0216ab00/index.js"></script>


    <div class="bg-white">

    {% include header.html %}

      <main>

        <!-- Hero section -->
        <div class="relative">
          <div class="absolute inset-x-0 bottom-0 bg-gray-100"></div>
          <div class="mx-auto max-w-7xl"><!--sm:px-6 lg:px-8 -->
            
              <div class="absolute inset-0">
              </div>
              <div class="relative pt-16 pb-8 px-6 sm:pt-16 sm:pb-8 lg:pt-16 lg:pb-10 lg:px-8">

                <div class="float-right flex">
                  <img class="hidden md:flex w-50" style="max-width:450px;position:relative !important;" src="{{ "/assets/img/zoom_mockup.png" | relative_url }}">
                </div>

                <h1 class="col-start-1 row-start-2 mt-4 max-w-[36rem] text-4xl font-extrabold tracking-tight text-slate-900 sm:text-7xl xl:max-w-[43.5rem]"
                ><!--class="text-center text-4xl font-bold tracking-tight sm:text-5xl lg:text-6xl"-->
                  <span class="block"><span id="typewriter" class="text-rose-500">MBA skills</span> <br>to the point.</span></span>
                  <!--<span class="block">customer support</span>-->
                </h1>
                <p class="mt-6 max-w-lg text-xl sm:max-w-3xl"> <!-- mx-auto -->
                  Learn practical business skills from founders and top operators at leading companies in an 8-week alternative MBA program.
                </p>
                <div class="flex flex-wrap mt-6">
                  <div class="flex items-center text-sm font-medium text-slate-500">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m-3-2.818l.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <span class="ml-2.5">$1,500 + tax (<span class="text-rose-500">Early bird!</span>)</span>
                  </div>
                  <div class="flex items-center text-sm font-medium text-slate-500 sm:ml-6">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                      </svg>
                    <span class="ml-2.5">Next cohort: September 1 - October 27 2023</span>
                  </div>
                  <!--
                  <div class="flex items-center text-sm font-medium text-slate-500 sm:ml-6">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 00-2.658-.813A59.905 59.905 0 0112 3.493a59.902 59.902 0 0110.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.697 50.697 0 0112 13.489a50.702 50.702 0 017.74-3.342M6.75 15a.75.75 0 100-1.5.75.75 0 000 1.5zm0 0v-3.675A55.378 55.378 0 0112 8.443m-7.007 11.55A5.981 5.981 0 006.75 15.75v-1.5" />
                    </svg>
                    <span class="ml-2.5">Certificate program</span>                
                  </div>
                  -->
                </div>
                <div class="mt-10 sm:flex sm:max-w-none"> <!-- mx-auto sm:justify-center-->
                  <div class="space-y-4  sm:inline-grid sm:gap-5 sm:space-y-0"> <!-- sm:mx-auto-->
                    <a href="https://tally.so/r/wb9xbZ" class="flex items-center justify-center rounded-md border border-transparent bg-rose-500 px-4 py-3 text-lg font-medium text-white shadow-sm hover:bg-opacity-70 sm:px-8">Apply now</a>
                  </div>
                  <a class="flex my-2 sm:my-0 sm:mx-4 items-center justify-center rounded-md border border-gray-200 px-4 py-3 text-lg font-medium text-gray-800 shadow-sm hover:bg-gray-100" data-formkit-toggle="5e0216ab00" href="https://pareto-business-school.ck.page/5e0216ab00">Get Program Guide</a>
                </div>
              </div>
            
          </div>
        </div>

        
              <div>
                <div class="mx-auto max-w-7xl py-4 sm:py-16 px-6 lg:px-8">
                  <p class="text-center text-xl">Featuring experts and instructors:</p>

                  <div class="relative flex w-full py-8 overflow-x-auto snap-x">

                    <!--
                    <div class="sm:hidden snap-center shrink-0 pl-8 md:pl-0">
                      <div class="shrink-0 w-4 sm:w-48"></div>
                    </div>
                    -->

                    <div class="mr-8 snap-center shrink-0 w-64 sm:w-80 rounded-lg bg-cover bg-[40%] shadow-lg h-72 align-bottom"
                    style="background-image: url('{{ "/assets/img/thumb_linus_2.jpg" | relative_url }}') "
                    >
                      <div class="bg-gradient-to-t from-gray-900 via-transparent to-transparent p-6 h-[100%] rounded-lg">
                          <img src="{{ "/assets/img/inventure_logo.png" | relative_url }}" class="mt-44 h-8" style="filter: brightness(0) invert(1);">       
                          <hr style="border: 1px solid;" class="my-2 w-8 text-rose-500">
                          <!--<h5 class="text-xl font-medium leading-tight text-white">
                            Linus Dahg, CEO
                          </h5>-->
                          <p class="text-base text-white  dark:text-neutral-200">
                            Linus Dahg, CEO
                          </p>
                      </div>
                    </div>

                    <div class="mr-8 snap-center shrink-0  w-64 sm:w-80 rounded-lg bg-cover bg-[60%] shadow-lg h-72 align-bottom"
                    style="background-image: url('{{ "/assets/img/thumb_gners.jpg" | relative_url }}') "
                    >
                      <div class="bg-gradient-to-t from-gray-900 via-transparent to-transparent p-6 h-[100%] rounded-lg">
                          <img src="{{ "/assets/img/lifesum_logo.png" | relative_url }}" class="mt-44 h-8" style="filter: brightness(0) invert(1);">       
                          <hr style="border: 1px solid;" class="my-2 w-8 text-rose-500">
                          <!--<h5 class="text-xl font-medium leading-tight text-white">
                            Marcus Gners, Founder
                          </h5>-->
                          <p class="text-base text-white  dark:text-neutral-200">
                            Marcus Gners, Founder
                          </p>
                      </div>
                    </div>

                    <div class="mr-8 snap-center shrink-0  w-64 sm:w-80 rounded-lg bg-cover bg-[50%] shadow-lg h-72 align-bottom"
                    style="background-image: url('{{ "/assets/img/thumb_anders.jpg" | relative_url }}') "
                    >
                      <div class="bg-gradient-to-t from-gray-900 via-transparent to-transparent p-6 h-[100%] rounded-lg">
                          <img src="{{ "/assets/img/netlight_logo.png" | relative_url }}" class="mt-44 h-8" style="filter: brightness(0) invert(1);">       
                          <hr style="border: 1px solid;" class="my-2 w-8 text-rose-500">
                          <!--<h5 class="text-xl font-medium leading-tight text-white">
                            Anders Larsson
                          </h5>-->
                          <p class="text-base text-white  dark:text-neutral-200">
                            Anders Larsson, Founder
                          </p>    
                      </div>
                    </div>

                    <div class="mr-8 snap-center shrink-0  w-64 sm:w-80 rounded-lg bg-cover bg-[70%] shadow-lg h-72 align-bottom"
                    style="background-image: url('{{ "/assets/img/thumb_sophie.jpg" | relative_url }}') "
                    >
                      <div class="bg-gradient-to-t from-gray-900 via-transparent to-transparent p-6 h-[100%] rounded-lg">
                          <img src="{{ "/assets/img/logo_noqx.png" | relative_url }}" class="mt-44 h-8" style="filter: brightness(0) invert(1);">       
                          <hr style="border: 1px solid;" class="my-2 w-8 text-rose-500">
                          <!--<h5 class="text-xl font-medium leading-tight text-white">
                            Sophie Hedestad
                          </h5>-->
                          <p class="text-base text-white  dark:text-neutral-200">
                            Sophie Hedestad, CEO
                          </p>    
                      </div>
                    </div>                    


                    <div class="mr-8 snap-center shrink-0  w-64 sm:w-80 rounded-lg bg-cover bg-[70%] shadow-lg h-72 align-bottom"
                    style="background-image: url('{{ "/assets/img/thumb_jonas.jpg" | relative_url }}') "
                    >
                      <div class="bg-gradient-to-t from-gray-900 via-transparent to-transparent p-6 h-[100%] rounded-lg">
                          <img src="{{ "/assets/img/spotify_logo_black.png" | relative_url }}" class="mt-44 h-8" style="filter: brightness(0) invert(1);">       
                          <hr style="border: 1px solid;" class="my-2 w-8 text-rose-500">
                          <!--<h5 class="text-xl font-medium leading-tight text-white">
                            Jonas Axelsson
                          </h5>-->
                          <p class="text-base text-white  dark:text-neutral-200">
                            Jonas Axelsson, Ex-head of talent
                          </p>    
                      </div>
                    </div>                    


                    <div class="mr-8 snap-center shrink-0  w-64 sm:w-80 rounded-lg bg-cover bg-[40%] shadow-lg h-72 align-bottom"
                    style="background-image: url('{{ "/assets/img/thumb_johan_2.jpg" | relative_url }}') "
                    >
                      <div class="bg-gradient-to-t from-gray-900 via-transparent to-transparent p-6 h-[100%] rounded-lg">
                          <img src="{{ "/assets/img/logo_first_camp.png" | relative_url }}" class="mt-44 h-8" style="filter: brightness(0) invert(1);">       
                          <hr style="border: 1px solid;" class="my-2 w-8 text-rose-500">                 
                          <!--<h5 class="text-xl font-medium leading-tight text-white">
                            Johan Söör
                          </h5>-->
                          <p class="text-base text-white  dark:text-neutral-200">
                            Johan Söör, CEO
                          </p>    
                      </div>
                    </div>


                    <div class="mr-8 snap-center shrink-0  w-64 sm:w-80 rounded-lg bg-cover bg-[70%] shadow-lg h-72 align-bottom"
                    style="background-image: url('{{ "/assets/img/thumb_niklas.jpg" | relative_url }}') "
                    >
                      <div class="bg-gradient-to-t from-gray-900 via-transparent to-transparent p-6 h-[100%] rounded-lg">
                          <img src="{{ "/assets/img/logo_reason.png" | relative_url }}" class="mt-44 h-8" style="filter: brightness(0) invert(1);">       
                          <hr style="border: 1px solid;" class="my-2 w-8 text-rose-500">
                          <!--<h5 class="text-xl font-medium leading-tight text-white">
                            Niklas Agevik
                          </h5>-->
                          <p class="text-base text-white  dark:text-neutral-200">
                            Niklas Agevik, CEO
                          </p>    
                      </div>
                    </div>


                    <!--
                    <div class="mr-8 snap-center shrink-0  w-64 sm:w-80 rounded-lg bg-cover bg-[40%] shadow-lg h-72 align-bottom"
                    style="background-image: url('{{ "/assets/img/thumb_jens.jpg" | relative_url }}') "
                    >
                      <div class="bg-gradient-to-t from-gray-900 via-transparent to-transparent p-6 h-[100%] rounded-lg">
                          <h5 class="mt-48 text-xl font-medium leading-tight text-white">
                            Jens Bäckbom
                          </h5>
                          <p class="text-base text-white  dark:text-neutral-200">
                            Pareto Business School
                          </p>    
                      </div>
                    </div>
                    -->

                  </div>


                  <!--
                  <div class="mt-6 grid grid-cols-2 gap-8 md:grid-cols-6 lg:grid-cols-5">
                    <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
                      <img class="h-12" src="{{ "/assets/img/spotify_logo_black.png" | relative_url }}" alt="Spotify">
                    </div>
                    <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
                      <img class="h-12" src="{{ "/assets/img/klarna_logo_black.png" | relative_url }}" alt="Klarna">
                    </div>                    
                    <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
                      <img class="h-12 grayscale contrast-50 brightness-0" src="{{ "/assets/img/netlight_logo.png" | relative_url }}" alt="Netlight">
                    </div>
                    <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
                      <img class="h-10 grayscale" src="{{ "/assets/img/revolut_logo.jpeg" | relative_url }}" alt="Revolut">
                    </div>                    
                    <div class="col-span-2 flex justify-center md:col-span-2 md:col-start-4 lg:col-span-1">
                      <img class="h-12" src="{{ "/assets/img/mck_logo_black.png" | relative_url }}" alt="McKinsey">
                    </div>
                  </div>
                  -->

                </div>
              </div>





        



        <!-- Main benefits section -->

        <div class="bg-gray-50"> <!-- style="background-color:#f5f4ef;"-->
          <div class="py-12 sm:py-12">
            <div class="mx-auto max-w-7xl px-6 lg:px-8">

              <div class="mx-auto max-w-4xl lg:text-center">
                <h5 class="text-lg font-semibold leading-8 tracking-tight text-rose-500">Business skills to the point</h5>
                <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">The Pareto MBA Experience</h1>
                <p class="mt-6 text-lg leading-8 text-gray-600">We have condensed a traditional MBA curriculum into an <strong>8-week</strong> program with microlearning, spaced repetition, case studies and exercises. Study at your own pace for <strong>3-4 hours per week</strong>, then go deeper together with our teachers and your class in a <strong>weekly live session</strong>.</p>
              </div>


              <div class="mx-auto max-w-4xl lg:text-center mt-8">
                <img src="{{ "/assets/img/pareto_experience.jpg" | relative_url }}" class="mb-8">

                  <a class="flex sm:inline-block my-2 sm:my-0 sm:mx-4 px-4 py-4 sm:px-8 items-center justify-center rounded-md border text-lg text-white shadow-sm bg-rose-500 hover:bg-opacity-70 font-medium" data-formkit-toggle="5e0216ab00" href="https://pareto-business-school.ck.page/5e0216ab00">Get Program Guide</a>

              </div>





              <div class="mx-auto mt-8 max-w-2xl sm:mt-20 lg:mt-20 lg:max-w-4xl hidden">
                  <dl class="grid max-w-xl grid-cols-1 gap-y-10 gap-x-8 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
                    <div class="relative pl-16">
                      <dt class="text-base font-semibold leading-7 text-gray-900">
                        <div class="absolute top-0 left-0 flex h-10 w-10 items-center justify-center rounded-lg bg-rose-500">
                          <!-- Heroicon name: outline/cloud-arrow-up -->
                          <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 16.5V9.75m0 0l3 3m-3-3l-3 3M6.75 19.5a4.5 4.5 0 01-1.41-8.775 5.25 5.25 0 0110.233-2.33 3 3 0 013.758 3.848A3.752 3.752 0 0118 19.5H6.75z" />
                          </svg>
                        </div>
                        Challenging, but fits your schedule
                      </dt>
                      <dd class="mt-2 text-base leading-7 text-gray-600">Learn through bite-sized classes and short assigments that you can do when you have time to spare.</dd>
                    </div>

                    <div class="relative pl-16">
                      <dt class="text-base font-semibold leading-7 text-gray-900">
                        <div class="absolute top-0 left-0 flex h-10 w-10 items-center justify-center rounded-lg bg-rose-500">
                          <!-- Heroicon name: outline/lock-closed -->
                          <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
                          </svg>
                        </div>
                        A fully-loaded toolbox
                      </dt>
                      <dd class="mt-2 text-base leading-7 text-gray-600">Learn business frameworks and tools through case studies and exercises. You will also practice interviewing, presenting and negotiating.</dd>
                    </div>

                    <div class="relative pl-16">
                      <dt class="text-base font-semibold leading-7 text-gray-900">
                        <div class="absolute top-0 left-0 flex h-10 w-10 items-center justify-center rounded-lg bg-rose-500">
                          <!-- Heroicon name: outline/arrow-path -->
                          <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
                          </svg>
                        </div>
                        Live classes and Q&As
                      </dt>
                      <dd class="mt-2 text-base leading-7 text-gray-600">We host weekly class sessions where you can get answers to any questions that might have come up.</dd>
                    </div>

                    <div class="relative pl-16">
                      <dt class="text-base font-semibold leading-7 text-gray-900">
                        <div class="absolute top-0 left-0 flex h-10 w-10 items-center justify-center rounded-lg bg-rose-500">
                          <!-- Heroicon name: outline/finger-print -->
                          <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M7.864 4.243A7.5 7.5 0 0119.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 004.5 10.5a7.464 7.464 0 01-1.15 3.993m1.989 3.559A11.209 11.209 0 008.25 10.5a3.75 3.75 0 117.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 01-3.6 9.75m6.633-4.596a18.666 18.666 0 01-2.485 5.33" />
                          </svg>
                        </div>
                        Lifelong learning
                      </dt>
                      <dd class="mt-2 text-base leading-7 text-gray-600">After the program, you will get access to a vast library of cases, tools and templates to be able to practice what you've learned.</dd>
                    </div>
                  </dl>
                </div>



            </div>
          </div>
        </div>


        <!--
        <div class="bg-rose-50">
          <div class="mx-auto max-w-7xl py-6 px-6 lg:px-8 pb-8">
            <h5 class="text-center text-base font-semibold text-gray-900">as featured in</h5>
              <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1 pt-4 pb-0">
                <a href="http://bit.ly/3U3PDMp" target="_blank">
                  <img class="h-12" src="{{ "/assets/img/breakit_logo.svg" | relative_url }}" alt="Breakit">                  
                </a> 

              </div>
          </div>
        </div>
      -->




    <!-- This example requires Tailwind CSS v3.0+ -->
    <div class="mx-auto bg-white max-w-7xl py-8 sm:py-8 px-8 pb-16 sm:pb-16">
        <div class="mx-auto max-w-4xl lg:text-center my-8">
          <h5 class="text-lg font-semibold leading-8 tracking-tight text-rose-500">Fits your busy schedule</h5>
          <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Who is Pareto MBA for?</h2>
        </div>        

        <div class="relative isolate bg-white pb-16 sm:pb-8">
          <div class="mx-auto max-w-7xl">
            <div class="mx-auto grid max-w-2xl grid-cols-1 grid-rows-1 gap-8 text-sm leading-6 text-gray-900 sm:grid-cols-2 xl:mx-0 xl:max-w-none xl:grid-flow-col xl:grid-cols-4">
              <!--
              <figure class="col-span-2 hidden sm:block sm:rounded-2xl sm:bg-white sm:shadow-lg sm:ring-1 sm:ring-gray-900/5 xl:col-start-2 xl:row-end-1">
                <blockquote class="p-12 text-xl font-semibold leading-8 tracking-tight text-gray-900">
                  <p>“Integer id nunc sit semper purus. Bibendum at lacus ut arcu blandit montes vitae auctor libero. Hac condimentum dignissim nibh vulputate ut nunc. Amet nibh orci mi venenatis blandit vel et proin. Non hendrerit in vel ac diam.”</p>
                </blockquote>
                <figcaption class="flex items-center gap-x-4 border-t border-gray-900/10 px-6 py-4">
                  <img class="h-10 w-10 flex-none rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=1024&h=1024&q=80" alt="">
                  <div class="flex-auto">
                    <div class="font-semibold">Brenna Goyette</div>
                    <div class="text-gray-600">@brennagoyette</div>
                  </div>
                  <img class="h-10 w-auto flex-none" src="https://tailwindui.com/img/logos/savvycal-logo-gray-900.svg" alt="">
                </figcaption>
              </figure>
              -->
              <div class="space-y-20 lg:contents lg:space-y-0">
                <div class="lg:row-span-2">


                  <h3 class="mt-6 text-lg font-semibold leading-8 tracking-tight text-gray-900">New or aspiring leaders</h3>
                  <p class="text-base leading-7 text-gray-600 mb-8">
                  You are a specialist in tech, sales, marketing or similar who is aspiring for a leadership role.
                  </p>

                  <figure class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
                    <blockquote class="text-gray-900">
                      <p>“Fantastic set-up, on point and with an incredibly lovely group! 👏🤗”</p>
                    </blockquote>
                    <figcaption class="mt-6 flex items-center gap-x-4">
                      <img class="h-20 w-20 rounded-full bg-gray-50" src="{{ "/assets/img/testimonial_sofia_p.jpeg" | relative_url }}" alt="">
                      <div>
                        <div class="font-semibold">Sofia P.</div>
                        <div class="text-gray-600">Head of Sales</div>
                      </div>
                    </figcaption>
                  </figure>


                  <!-- More testimonials... -->
                </div>
                <div class="lg:row-start-1">


                  <h3 class="mt-6 text-lg font-semibold leading-8 tracking-tight text-gray-900">Business owners</h3>
                  <p class="text-base leading-7 text-gray-600 mb-8">
                    You are running a small or medium-sized business as owner or CEO but lack formal skills.
                  </p>

                  <figure class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
                    <blockquote class="text-gray-900">
                      <p>“I can say that I have been pleasantly surprised at how fantastically well managed this approach is and to be able to do it together with some of the industry's most knowledgeable with real cases during the course has been groundbreaking!”</p>
                    </blockquote>
                    <figcaption class="mt-6 flex items-center gap-x-4">
                      <img class="h-20 w-20 rounded-full bg-gray-50" src="{{ "/assets/img/testimonial_anton.jpeg" | relative_url }}" alt="">
                      <div>
                        <div class="font-semibold">Anton N.</div>
                        <div class="text-gray-600">CEO</div>
                      </div>
                    </figcaption>
                  </figure>

                </div>
                <div class="lg:row-start-1">

                  <h3 class="mt-6 text-lg font-semibold leading-8 tracking-tight text-gray-900">Business developers</h3>
                  <p class="text-base leading-7 text-gray-600 mb-8">
                  You want a better set of tools for developing businesses that you work with as an external advisor.
                  </p>

                  <figure class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
                    <blockquote class="text-gray-900">
                      <p>“In addition to boosting general business skills, I have to say that the first cohort of the program is so bright, lovely and interesting. Ping all magic participants, experts & inspirers 💙”</p>
                    </blockquote>
                    <figcaption class="mt-6 flex items-center gap-x-4">
                      <img class="h-20 w-20 rounded-full bg-gray-50" src="{{ "/assets/img/testimonial_sofia_t.jpeg" | relative_url }}" alt="">
                      <div>
                        <div class="font-semibold">Sofia T.</div>
                        <div class="text-gray-600">Venture Builder</div>
                      </div>
                    </figcaption>
                  </figure>

                  <!-- More testimonials... -->
                </div>
                <div class="lg:row-span-2">

                  <h3 class="mt-6 text-lg font-semibold leading-8 tracking-tight text-gray-900">Curious professionals</h3>
                  <p class="text-base leading-7 text-gray-600 mb-8">You want to grow in your role by learning about the latest business models and ways of working.</p>

                  <figure class="rounded-2xl bg-white p-6 shadow-lg ring-1 ring-gray-900/5">
                    <blockquote class="text-gray-900">
                      <p>“So far the best investment of the year!”</p>
                    </blockquote>
                    <figcaption class="mt-6 flex items-center gap-x-4">
                      <img class="h-20 w-20 rounded-full bg-gray-50" src="{{ "/assets/img/testimonial_philip.jpeg" | relative_url }}" alt="">
                      <div>
                        <div class="font-semibold">Philip L.</div>
                        <div class="text-gray-600">Advertising Professional</div>
                      </div>
                    </figcaption>
                  </figure>


                  <!-- More testimonials... -->


                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="mx-auto max-w-4xl lg:text-center">
          <p class="mb-4 text-xl text-gray-900">Learn more about the Pareto MBA:</p>
          <a class="flex sm:inline-block my-2 sm:my-0 sm:mx-4 px-4 py-4 sm:px-8 items-center justify-center rounded-md border text-lg text-white shadow-sm bg-rose-500 hover:bg-opacity-70 font-medium" data-tally-open="nGK61j" data-tally-emoji-text="👋" data-tally-emoji-animation="wave" href="#">Schedule a Call</a>
        </div>        

    </div>




        
    <!--
              <div>
                <div class="mx-auto max-w-7xl pb-16 px-6 lg:px-8">
                  <h5 class="text-center text-base font-semibold text-gray-500">With teachers and real-world cases from:</h5>
                  <div class="mt-6 grid grid-cols-2 gap-8 md:grid-cols-6 lg:grid-cols-5">
                    <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
                      <img class="h-12" src="{{ "/assets/img/spotify_logo_black.png" | relative_url }}" alt="Spotify">
                    </div>
                    <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
                      <img class="h-12" src="{{ "/assets/img/klarna_logo_black.png" | relative_url }}" alt="Klarna">
                    </div>                    
                    <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
                      <img class="h-12 grayscale contrast-50 brightness-0" src="{{ "/assets/img/netlight_logo.png" | relative_url }}" alt="Netlight">
                    </div>
                    <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
                      <img class="h-10 grayscale" src="{{ "/assets/img/revolut_logo.jpeg" | relative_url }}" alt="Revolut">
                    </div>                    
                    <div class="col-span-2 flex justify-center md:col-span-2 md:col-start-4 lg:col-span-1">
                      <img class="h-12" src="{{ "/assets/img/mck_logo_black.png" | relative_url }}" alt="McKinsey">
                    </div>
                  </div>
                </div>
              </div>
    -->




        <!-- Gradient Feature Section -->
        <div class="bg-gray-50"> <!--  style="background-color:#f5f4ef;" -->
          <div class="mx-auto max-w-4xl pt-8 px-6 sm:pt-12 pb-16 lg:max-w-7xl lg:px-8 lg:pt-16">


            <div class="mx-auto max-w-4xl lg:text-center">
              <h5 class="text-lg font-semibold leading-8 tracking-tight text-rose-500">What you will learn</h5>
              <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">The Pareto MBA Curriculum</h2>
            </div>        


            <!--<h2 class="text-3xl font-bold tracking-tight"><a name="curriculum">Our curriculum</a></h2>-->
            <!--<p class="mt-4 max-w-3xl text-lg text-gray-600">Our curriculum .</p>-->
            <div class="mt-12 grid grid-cols-1 gap-x-6 gap-y-6 sm:grid-cols-2 lg:mt-16 lg:grid-cols-4 lg:gap-x-8 lg:gap-y-16">
              <div>
                <div class="sm:mt-6">
                  <h3 class="text-lg text-rose-line"><span class="font-bold">Week 1:</span> Basic Business Skills and Tools</h3>
                  <p class="mt-2 text-base text-gray-600">You will learn key concepts and business language, how to use basic business tools and why some businesses are better than others.</p>
                </div>
              </div>

              <div>
                <div class="mt-6">
                  <h3 class="text-lg text-rose-line"><span class="font-bold">Week 2:</span> Business Models, Resources and Strategy</h3>
                  <p class="mt-2 text-base text-gray-600">You will learn how to evaluate business opportunities, compare business models and communicate an opinion on vision and strategy.</p>
                </div>
              </div>

              <div>
                <div class="mt-6">
                  <h3 class="text-lg text-rose-line"><span class="font-bold">Week 3:</span> Marketing and Sales</h3>
                  <p class="mt-2 text-base text-gray-600">You will learn how to approach the market with a product or service and how to think about niches, customer segments, branding and positioning.</p>
                </div>
              </div>

              <div>
                <div class="mt-6">
                  <h3 class="text-lg text-rose-line"><span class="font-bold">Week 4:</span> Growth, Expansion and Finance</h3>
                  <p class="mt-2 text-base text-gray-600">You will learn how businesses grow and how to lead a growing organization, get familiar with scalability, unit economics and how to finance growth. 
                  <!--
                  <br><br>
                  <script src="https://fast.wistia.com/embed/medias/noyu0hkn9u.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><span class="wistia_embed wistia_async_noyu0hkn9u popover=true popoverAnimateThumbnail=true" style="display:inline-block;height:120px;position:relative;width:120px">&nbsp;</span>
                  -->

                  </p>                  
                </div>
              </div>

              <div>
                <div class="mt-6">
                  <h3 class="text-lg text-rose-line"><span class="font-bold">Week 5:</span> Leadership and Communication</h3>
                  <p class="mt-2 text-base text-gray-600">You will learn how to lead yourself and your team, and how to communicate your ideas clearly.</p>
                </div>
              </div>

              <div>
                <div class="mt-6">
                  <h3 class="text-lg text-rose-line"><span class="font-bold">Week 6:</span> Management, Operations and Culture</h3>
                  <p class="mt-2 text-base text-gray-600">
                    You will learn how companies are structured and operate in the real world, how to organize and measure work, and to prioritize and delegate tasks.                    
                  </p>
                </div>
              </div>

              <div>
                <div class="mt-6">
                  <h3 class="text-lg text-rose-line"><span class="font-bold">Week 7:</span> Adversity and Change</h3>
                  <p class="mt-2 text-base text-gray-600">You will learn to detect signs of trouble, how to deal with tough times both personally and as an organization, and how to think about change.</p>
                </div>
              </div>

              <div>
                <div class="mt-6">
                  <h3 class="text-lg text-rose-line"><span class="font-bold">Week 8:</span> Finance, Acquisitions and Synergies</h3>
                  <p class="mt-2 text-base text-gray-600">You will learn the basics of buying and selling companies, including valuation, types of deals and what an acquisition process can look like.</p>
                </div>
              </div>
            </div>


            <div class="mx-auto max-w-5xl">
              <h2 class="mt-20 text-3xl font-bold tracking-tight text-gray-900 sm:text-2xl lg:text-center">Watch a Sample Interview from Module 2 with Niklas Agevik, CEO of Reason Studios</h2>


              <div class="relative flex w-full py-8 grid sm:grid-cols-2">

                    <div>
                      <script src="https://fast.wistia.com/embed/medias/71qml6kbpr.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_71qml6kbpr videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/71qml6kbpr/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
                    </div>

                    <!--
                    <div class="w-full rounded-lg bg-cover shadow-lg h-64 sm:h-80"
                    style="background-image: url('{{ "/assets/img/thumb_niklas_video.jpg" | relative_url }}') "
                    >
                      <div class="flex inline-block align-middle align-center justify-center">
                        <img src="{{ "/assets/img/play_button.png" | relative_url }}" class="w-20 mt-24 sm:mt-32 align-middle justify-center">
                      </div>
                    </div>
                    -->

                    <div class="sm:pl-12">
                      <p class="text-lg sm:text-xl pt-8 sm:pt-0">
                        Listen to <strong>Niklas Agevik</strong>, CEO of Reason Studios (a music making software used by artists such as The Weekend and Tyler the Creator) tell the story about how the company switched business models from perpetual license to Software as a Service / SaaS. The case is part of Module 2, where we discuss business models and strategy.
                      </p>
                      
                      <!--<p class="text-lg sm:text-md pt-4 sm:pt-8">
                        - <strong>Free online class</strong> on business model change -
                      </p>-->

                      <a class="flex mt-6 sm:mt-8 items-center justify-center rounded-md border border-gray-200 px-4 py-3 text-lg font-medium text-white bg-rose-500 hover:bg-opacity-70 shadow-sm" data-formkit-toggle="5e0216ab00" href="https://pareto-business-school.ck.page/5e0216ab00">

                        Get the full Program Guide 

                      </a>
                    </div>


                </div>


            </div>        



          </div>
          
        </div>




    <!-- This example requires Tailwind CSS v3.0+ -->
    <!--
    <div class="mx-auto bg-white max-w-7xl py-8 sm:py-8 px-8">
        <div class="mx-auto max-w-4xl lg:text-center mt-8">
          <h5 class="text-lg font-semibold leading-8 tracking-tight text-rose-500">Meet your teachers</h5>
          <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Learn from leaders at world-class companies</h2>
        </div>
        <div class="mx-auto">          
          <ul role="list" class="mx-auto mt-12 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-4">
            <li>
              <script src="https://fast.wistia.com/embed/medias/j0z8swzrdd.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:177.5% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_j0z8swzrdd videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/j0z8swzrdd/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>

              <p class="hidden text-base leading-7 text-gray-600 lg:block lg:pt-6">With users such as The Weekend, Tyler the Creator and Beastie Boys, Reason Studios is at the forefront of the muic creation industry. We will look at how they successfully switched business models and place in the ecosystem while at the same time maintaining a passionate community of users.</p>

            </li>
            <li>
              <script src="https://fast.wistia.com/embed/medias/xzvn55acdv.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:177.5% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_xzvn55acdv videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/xzvn55acdv/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>

              <p class="hidden text-base leading-7 text-gray-600 lg:block lg:pt-6">You are running a small or medium-sized company but lack formal business skills. Our program will help you to avoid a lot of common pitfalls.</p>
            </li>
            <li>
              <script src="https://fast.wistia.com/embed/medias/j0z8swzrdd.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:177.5% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_j0z8swzrdd videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/j0z8swzrdd/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>

              <p class="hidden text-base leading-7 text-gray-600 lg:block lg:pt-6">You want a better toolkit for analysing and improving businesses that you work with as an investor or advisor.</p>
            </li>
            
            <li>
              <script src="https://fast.wistia.com/embed/medias/j0z8swzrdd.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:177.5% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_j0z8swzrdd videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/j0z8swzrdd/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>

              <p class="hidden text-base leading-7 text-gray-600 lg:block lg:pt-6">You want to grow in your role by learning about the latest business trends, marketing tactics, productivity tools and consumer behaviors.</p>
            </li>
          </ul>
        </div>
    </div>
    -->






        <!-- Certificate section -->

        <div class="relative bg-gray-900">
          <div class="absolute inset-x-0 bottom-0 h-80 xl:top-0 xl:h-full">
            <div class="h-full w-full xl:grid xl:grid-cols-2">
              <div class="h-full xl:relative xl:col-start-2">
                <img class="h-full w-full object-cover opacity-0 xl:absolute xl:inset-0" src="https://images.unsplash.com/photo-1521737852567-6949f3f9f2b5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2830&q=80&sat=-100" alt="People working on laptops">
                <div aria-hidden="true" class="absolute inset-x-0 top-0 h-32 bg-gradient-to-b from-gray-900 xl:inset-y-0 xl:left-0 xl:h-full xl:w-32 xl:bg-gradient-to-r  hidden sm:block"></div>
              </div>
            </div>
          </div>
          <div class="mx-auto max-w-4xl px-6 lg:max-w-7xl lg:px-8 xl:grid xl:grid-flow-col-dense xl:grid-cols-2 xl:gap-x-8  hidden sm:block">
            <div class="relative pt-12 pb-20 sm:pt-24 sm:pb-64 xl:col-start-1 xl:pb-24">
              <h2 class="text-base font-semibold">
                <a name="tools">
                  <span class="bg-gradient-to-r from-rose-500 to-rose-500 bg-clip-text text-transparent">A Proof of Skills</span>
                </a>
              </h2>
              <h5 class="mt-3 text-3xl font-bold tracking-tight text-white">A valuable certificate of practical business skills that you can start using immediately</h5>
              <p class="mt-5 text-lg text-gray-300">The Pareto MBA certificate is a proof of real business skills, ranging from strategy and accounting to very hands-on tools. The certificate tells your employer or business partner that you are capable of several things:</p>
              <div class="mt-12 grid grid-cols-1 gap-y-12 gap-x-6 sm:grid-cols-2">
                <div>
                  <h5 class="block text-2xl font-bold text-white">Master the Tools</h5>
                  <p class="mt-1 block text-base text-gray-300">You will feel confident using traditional software for analytics and presentations, as well as modern no-code and AI tools that make you 10x more productive.</p>                
                </div>

                <div>
                  <h5 class="block text-2xl font-bold text-white">Communicate your Ideas</h5>
                  <p class="mt-1 block text-base text-gray-300">You will have learnt how to communicate your ideas and opinions on complex topics such as strategy, business models and positioning.</p>
                </div>

                <div>
                  <h5 class="block text-2xl font-bold text-white">Develop Businesses</h5>
                  <p class="mt-1 block text-base text-gray-300">You will have seen dozens of real-life business cases and learnt analysis frameworks that can be used in your own business.</p>
                </div>

                <div>
                  <h5 class="block text-2xl font-bold text-white">Negotiate Agreements</h5>
                  <p class="mt-1 block text-base text-gray-300">You will have hands-on negotiation practice, and know about common mistakes and pitfalls in standard corporate agreements.</p>
                </div>

              </div>
            </div>

              <div class="sm:pl-6 lg:pl-8 lg:mt-32">

                
                <img src="/assets/img/pbs_certificate_new.png" alt="Pareto MBA certificate" class="w-[24rem] max-w-none rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[24rem] lg:ml-20 hidden sm:block" width="892">
                

                <!--
                <div class="relative isolate overflow-hidden bg-gray-900 px-6 pt-8 sm:mx-auto sm:max-w-2xl sm:rounded-3xl sm:pt-16 sm:pl-16 sm:pr-0 lg:mx-0 lg:max-w-none">
                  <div class="absolute -inset-y-px -left-3 -z-10 w-full origin-bottom-left skew-x-[-30deg] bg-indigo-100 opacity-20 ring-1 ring-inset ring-white" aria-hidden="true"></div>
                  <div class="mx-auto max-w-2xl sm:mx-0 sm:max-w-none max-h-96">
                    <img src="/assets/img/pbs_certificate.png" width="500" class="-mb-12 w-[33rem] max-w-none rounded-tl-xl bg-gray-800 ring-1 ring-white/10">
                  </div>
                  <div class="pointer-events-none absolute inset-0 ring-1 ring-inset ring-black/10 sm:rounded-3xl" aria-hidden="true"></div>
                </div>
                -->

              </div>


          </div>


        <!-- FAQ Section -->


        </div>



      <div class="relative bg-gray-900">
        <div>
          <div class="mx-auto max-w-7xl px-6 py-6 sm:py-6 lg:py-6 lg:px-8 pb-20 lg:pb-20">
            <div class="mx-auto max-w-4xl divide-y divide-white/10">
              <h2 class="text-2xl font-bold leading-10 tracking-tight text-white">Frequently asked questions</h2>
              <dl class="mt-10 space-y-6 divide-y divide-white/10">


                {% for qa in site.data.faq %}
                <div class="pt-2" x-data="{ isOpen: false }">
                  <dt>
                    <button @click="isOpen = !isOpen" type="button" class="flex w-full items-start justify-between text-left text-white" aria-controls="faq-0" aria-expanded="false">
                      <span class="text-base font-semibold leading-7">{{ qa.question }}</span>
                      <span class="ml-6 flex h-7 items-center">
                        <svg class="h-6 w-6" :class="{'hidden': !isOpen}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
                        </svg>
                        <svg class="h-6 w-6" :class="{'hidden': isOpen}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                        </svg>
                      </span>
                    </button>
                  </dt>
                  <dd class="mt-2 pr-12" id="faq-0" :class="{'hidden': !isOpen}">
                    <p class="text-base leading-7 text-gray-300">{{ qa.answer }}</p>
                  </dd>
                </div>
                {% endfor %}

              </dl>
            </div>
          </div>
        </div>
      </div>




        <!-- Jens & Mathias Section -->
        
        <div class="bg-gray-50 sm:hidden" >
          <div class="mx-auto max-w-7xl py-8 sm:py-8 px-8">
              <div class="mx-auto max-w-7xl mt-8">
                <h5 class="text-lg font-semibold leading-8 tracking-tight text-rose-500">Talk to the founders</h5>
                <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Book a call with us and learn more</h2>
                <div class="hidden lg:inline-block">
                  <img class="mt-8 grayscale-[50%]" src="{{ "/assets/img/jens_mathias_lg_w.jpg" | relative_url }}">
                </div>
                <div class="lg:hidden">
                  <img class="mt-4 lg:max-w-4xl grayscale-[50%]" src="{{ "/assets/img/jens_mathias_lg.jpg" | relative_url }}">
                </div>

                <p class="text-lg my-8">
                  Book a short call with us to learn more about the program.
                </p>

                <div>

                  <a class="flex sm:inline-block my-2 sm:my-0 sm:mx-4 px-4 py-4 sm:px-8 items-center justify-center rounded-md border text-lg text-white shadow-sm bg-rose-500 hover:bg-opacity-70 font-medium" data-tally-open="nGK61j" data-tally-emoji-text="👋" data-tally-emoji-animation="wave" href="#">Book a call</a>

                </div>


                <!--
                <div class="mt-12 grid grid-cols-1 gap-y-12 gap-x-6 sm:grid-cols-2 text-left">
                  <div>
                    <h5 class="block text-2xl font-bold text-gray-900">Why did you start Pareto Business School?</h5>
                    <p class="mt-1 block text-base text-gray-600">
                      Both Jens and Mathias studied business at university and at leading MBA schools in the US and UK, respectively. Having then become entrepreneurs and later investors, both felt that there was a clear need for an updated and accessible business program. Traditional MBAs at top schools are great but are very expensive and require a lot of time, which puts them out of reach for most people. At the same time, technology and business models are changing fast, and traditional programs can't keep up. Our solution is an online program based on case studies from companies on the frontline of technology and business models, delivered with a no-nonsense and pragmatic approach. We also feel that a lot of people are struggling in their business lives, be it as part of a big corporation or a startup or as a creator, and that there's a lot of best practice, tricks, tips, tools and models that could make life easier for them. 
                    </p>                
                  </div>

                  <div>
                    <h5 class="block text-2xl font-bold text-gray-900">What makes the Pareto MBA different?</h5>
                    <p class="mt-1 block text-base text-gray-600">
                      The fundamental philosophy of Pareto Business School is to provide the maximum amount of practical skills and knowledge over time with a minimum of time invested. To achieve this we focus on terminology, playbooks and practical tools from real-world settings, and try to avoid being too academic. That said, we are strong believers in making sense of the world through mental models and frameworks, since it's much more efficient to learn model thinking than to try to memorize disconnected information. This is also why we use case studies, but not in the way traditional MBA programs would - our case studies are shorter and to the point, and also updated as we go along, to make sure you always have the freshest real-life business examples to relate to. During the program, we will also discuss real-world business events as they unfold, and relate them to models and frameworks you learn as part of the program.                     
                    </p>
                  </div>
                </div>
                -->
              </div>
          </div>
        </div>
        



        <section class="relative isolate overflow-hidden bg-white px-6 py-16 sm:py-16 lg:px-8">        
          <div class="mx-auto max-w-2xl lg:max-w-4xl">
            <!--<img class="mx-auto h-12" src="https://tailwindui.com/img/logos/workcation-logo-indigo-600.svg" alt="">-->
            <figure class="mt-10">
              <blockquote class="text-center text-xl font-semibold leading-8 text-gray-900 sm:text-2xl sm:leading-9">
                <p>“When I attended the first meet up with my new classmates at Pareto School last week, I was struck by the diversity in the room. Each person had a unique story to share and a distinct perspective to offer. It was a powerful reminder of the value of seeking out diverse perspectives and experiences.”</p>
              </blockquote>
              <figcaption class="mt-10">
                <img class="mx-auto h-20 w-20 rounded-full" src="{{ "/assets/img/testimonial_emilia.jpeg" | relative_url }}" alt="">
                <div class="mt-4 flex items-center justify-center space-x-3 text-base">
                  <div class="font-semibold text-gray-900">Emilia B.</div>
                  <svg viewBox="0 0 2 2" width="3" height="3" aria-hidden="true" class="fill-gray-900">
                    <circle cx="1" cy="1" r="1" />
                  </svg>
                  <div class="text-gray-600">Chief Commercial Officer</div>
                </div>
              </figcaption>
            </figure>
          </div>
        </section>




        <!-- CTA Section -->
        <div class="bg-white">
          <div class="mx-auto max-w-4xl py-16 px-6 sm:py-24 lg:flex lg:max-w-7xl lg:items-center lg:justify-between lg:px-8">
            <h2 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-4xl">
              <span class="block">Next cohort starts September 1.</span>
              <span class="-mb-1 block bg-gradient-to-r from-rose-500 to-rose-600 bg-clip-text pb-1 text-transparent">Apply now or get in touch.</span>
            </h2>
            <div class="mt-6 space-y-4 sm:flex sm:space-y-0 sm:space-x-5">
              <a href="https://mr8jwkmgb4d.typeform.com/to/DLQvLBWC" class="flex items-center justify-center rounded-md border border-transparent bg-gradient-to-r from-rose-500 to-rose-500 bg-origin-border px-4 py-3 text-base font-medium text-white shadow-sm hover:from-rose-600 hover:to-rose-600">Apply now</a>

              <a class="flex items-center justify-center rounded-md border border border-gray-200 px-4 py-3 text-base font-medium text-gray-800 shadow-sm hover:bg-gray-100" data-formkit-toggle="5e0216ab00" href="https://pareto-business-school.ck.page/5e0216ab00">Learn more</a>

            </div>
          </div>
        </div>

      </main>


  {% include footer.html %}


</div>


  {% include ga.html %}


  <script type="text/javascript">
  _linkedin_partner_id = "5233289";
  window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
  window._linkedin_data_partner_ids.push(_linkedin_partner_id);
  </script><script type="text/javascript">
  (function(l) {
  if (!l){window.lintrk = function(a,b){window.lintrk.q.push([a,b])};
  window.lintrk.q=[]}
  var s = document.getElementsByTagName("script")[0];
  var b = document.createElement("script");
  b.type = "text/javascript";b.async = true;
  b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
  s.parentNode.insertBefore(b, s);})(window.lintrk);
  </script>
  <noscript>
  <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=5233289&fmt=gif" />
  </noscript>

  </body>
</html>
